.body{
	margin-top: 50px;
	margin-bottom: 50px;
	
}
.container{
	width: 100%;
	position: relative;
	min-width:1100px;
	margin:0;
	padding: 0;
	background-color: #94D6B7;
}
.container .footer-text{
	margin: 20px 0;
	
	  font-size: 20px;
	  
}
.badge{
	background-color : #94D6B7;
	
	
}