.body{
	margin-top: 50px;
	margin-bottom: 50px;
	background-color:  #94D6B7;
}
.container{
	width: auto;
	max-width: 990px;
	padding: 0 15px;
	background-color: #94D6B7;
}
.container .footer-text{
	margin: 20px 0;

	  font-size: 20px;
}
.badge{
	background-color : #94D6B7;
}