.body{
	margin-top: 50px;
	margin-bottom: 50px;
}
.container{
	width: auto;
	max-width: 900px;
	padding: 0 15px;
}
.container .footer-text{
margin: 20px 0;
font-family: 'Script';
	  font-size: 17px;
}
.badge{
	background-color : #94D6B7;
}